/* NAV BAR */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff; /* #4E5526 */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
    opacity: .9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gilroy', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #AD7A4C;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #AD7A4C;
    color: white;
  }
    /* Add a focus class to highlight the current page */
  .topnav a:focus {
      background-color: #AD7A4C;
      color: white;
    }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .topnav li:not(:last-child) {
    border-right: 1px solid rgb(0, 0, 0);
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;
                      display: grid;
                    }
  .topnav.responsive a.icon {
    position: absolute;
    right: 10%;
    top: 10px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Light'), url('../fonts/Gilroy-Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-ExtraBold'), url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

body {
    font-family: 'Gilroy', sans-serif;
    background: #fff;
    color: #666;
    font-size: 16px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif !important;
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}

.text-center {
    text-align: center;
}

.pair {
    background: #f8f8f8;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

header.fixed {
    background: #fff;
    border-bottom: 1px solid #cecece;
}

.header-unpin {
    position: fixed;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s ease-in-out;
}

.header-pin {
    position: fixed;
    background: #fff;
    opacity: 1;
    border-bottom: 1px solid #cecece;
    transform: translate3d(0, 0%, 0);
    transition: all 0.6s ease-in-out;
}

.header-inner {
    padding: 25px 0;
    overflow: hidden;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #000;
    float: left;
    font-size: 1.6em;
}

header ul {
    float: right;
    position: relative;
    top: 4px;
}

header ul li {
    float: left;
    list-style: none;
    margin-left: 25px;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header ul li a {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 0.8em;
}

header ul:hover li {
    opacity: 0.7;
    transition: opacity 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header ul li:hover {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header ul li:hover a {
    color: #000000;
}

h3 {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.7em;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #eee;
}

h4 {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.2em;
    padding-bottom: 25px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

a {
    color: #000;
}

p {
    line-height: 1.7em;
    margin-bottom: 2em;
    color: #2b2b2b;
}

.mcbutton {
    padding: 11px 45px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    color: #000;
    border: 2px solid #000;
    font-weight: 600;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .7em;
    position: relative;
    width: 100%;
    text-align: center;
}

.mcbutton::before,
.mcbutton::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background: #000;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.mcbutton::before {
    left: 0;
    top: 0;
}

.mcbutton::after {
    right: 0;
    bottom: 0;
}

.mcbutton:hover::before,
.mcbutton:hover::after {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.mcbutton span::before,
.mcbutton span::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 0;
    background: #000;
    transition: all 0.3s ease-in-out;
}

.mcbutton span::before {
    left: 0;
    top: 0;
}

.mcbutton span::after {
    right: 0;
    bottom: 0;
}

.mcbutton:hover span::before,
.mcbutton:hover span::after {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.mcbutton.primary {
    background: #FFC107;
}

.mcbutton.black {
    background: #1b1b1b;
    color: #fff;
}

.lead .mcbutton.primary {
    border-color: #a2a2a2;
}

.lead .mcbutton {
    padding: 16px 45px;
    font-size: 0.6em;
}

.mcbutton i {
    color: inherit;
    font-size: 1.5em;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

ol {
    margin-left: 2em;
    margin-bottom: 2em;
}

ul {
    margin-left: 1em;
    margin-bottom: 0;
}

ul ul {
    margin-left: 1em;
}

strong {
    font-weight: 600;
    color: #1f1f1f;
}

.intro {
    width: 100%;
    margin: 0 auto;
    background: url(../img/head.jpg);
    background-size: cover;
    margin-bottom: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 80px;
    min-height: 579px;
    max-height: 579px;
}

.intro h1 {
    margin-top: 0;
    font-size: 3.3em;
    color: #000;
    font-weight: 100;
    margin-bottom: 35px;
    text-align: center;
}

.tagline {
    color: #3a3a3a;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 17px;
}

.lead {
    margin-bottom: 2em;
}

.lead .mcbutton {
    border-color: #595959;
    cursor: pointer;
}

.heading-icon {
    margin-right: 16px
}

.box-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 1.4em;
    width: 100%;
}

.box {
    list-style-type: none;
    float: left;
    opacity: 0;
    transform: translate3d(0, 15px, 0);
    transition: opacity 0.2s, transform 0.35s;
}

.box.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.4s, transform 0.35s;
}

.box .inner {
    padding: 10px;
    position: relative;
}

.box a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.box img {
    width: 100%;
    max-width: 100%;
    display: block;
    transition: opacity 0.35s ease, transform 0.35s ease;
    transform: none; /* No shift by default */
  }

  .box:hover img {
    transform: translate3d(-20px, 0, 0); /* Slide left on hover */
  }
  
  

.box a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.4s;
}

.three-cols .box {
    width: 100%;
}

.four-cols .box {
    width: 23.1%;
}

.four-cols .box:nth-child(4n+0) {
    margin-right: 0;
}

.four-cols .box:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
}

.options-list {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #ececec;
    border-radius: 2px;
}

.options-list .option {
    overflow: hidden;
    border-bottom: 1px solid #ececec;
}

.options-list .option .name {
    font-weight: 600;
    display: inline-block;
    width: 23%;
    float: left;
    text-align: left;
    padding: 14px 17px;
    color: #000;
    font-size: 0.89em;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif !important;
}

.options-list .option .value {
    display: inline-block;
    width: 65%;
    float: left;
    padding: 14px 17px;
    text-align: left;
    line-height: 1.7em;
    font-size: 0.89em;
    border-left: 1px solid #eee;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif !important;
}

.options-list .option .type {
    color: #ed7205;
    font-weight: 600;
}

.params-list {
    margin-bottom: 11em;
}

.option-code {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding-left: 20px;
    padding-top: 0;
    margin-bottom: 48px;
}

.inline-inner {
    padding: 40px;
}

.inline-close-btn {
    background: #FFC107;
    width: 200px;
    display: block;
    margin: auto;
    height: 53px;
    text-align: center;
    line-height: 53px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #eee;
}

.inline-close-btn:hover {
    border-color: #000;
}

.especifications {
    width: 100%;
    max-width: 543px;
    margin: auto;
}
.especifications ul {
    margin-top: 40px;
    margin-bottom: 40px;
}
.especifications li {
    text-align: left;
    list-style: initial;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    color: #2b2b2b;
    opacity: 0;
    line-height: 1.7em;
    transform: translate3d(-10px, 0, 0);
}

.especifications li.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.especifications li i {
    color: #000;
}


.footer-btns {
    margin-top: 50px;
}

footer {
    text-align: center;
    color: #666;
    margin: 2rem 0;
}

footer a {
    color: #000;
}

.copyright {
    font-size: 0.8em;
}


@media (min-width: 390px) {
    .three-cols .box {
        width: 50%;
    }
}


@media (min-width: 576px) {
    .intro h1 {
        font-size: 4.3em;
    }

    .intro {
        max-height: 70vh;
        min-height: 640px;
        padding-top: 0px;
    }

    .intro h1,
    .tagline {
        text-align: left;
    }

    .tagline {
        font-size: 100%;
    }

    .three-cols .box {
        width: 33.3%;
    }

    .three-cols .box:nth-child(3n+0) {
        margin-right: 0;
    }

    .three-cols .box:nth-child(3n+1) {
        margin-left: 0;
    }

    .mcbutton {
        width: auto;
    }
}


@media (min-width: 768px) {
    .box img {
      transition: transform 0.35s ease, opacity 0.35s ease;
    }
  
    .box:hover img {
      transform: translate3d(10px, 0, 0);
      opacity: 0.85;
    }
  }


/* path {
    stroke-opacity: 0;
}

path.hw {
    stroke-opacity: 1;
}
 */

 #image-list {
    margin: 0 auto;
  }
  
  /* Each image container */
  #image-list .box {
    width: 30%;       /* roughly 3 columns */
    margin-bottom: 10px;
    float: left;     
  }
  
  #image-list .box img {
    width: 100%;
    display: block;
  }
  